/* 

Avenir Fonts

*/

@font-face {
  font-family: avenir-book;
  src: url(../fonts/AvenirLTStd-Book.otf) format("truetype");
}

@font-face {
  font-family: avenir-light;
  src: url(../fonts/AvenirLTStd-Light.otf) format("truetype");
}

@font-face {
  font-family: avenir-black;
  src: url(../fonts/AvenirLTStd-Black.otf) format("truetype");
}

@font-face {
  font-family: avenir-medium;
  src: url(../fonts/AvenirLTStd-Medium.otf) format("truetype");
}

@font-face {
  font-family: avenir-roman;
  src: url(../fonts/AvenirLTStd-Roman.otf) format("truetype");
}

@font-face {
  font-family: avenir-heavy;
  src: url(../fonts/Avenir-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: avenir-medium-oblique;
  src: url(../fonts/Avenir-MediumOblique.ttf) format("truetype");
}

@font-face {
  font-family: avenir-semibold;
  src: url(../fonts/AvenirSemiBold.ttf) format("truetype");
}

/*  
  Font Size classes
*/

.avenir-book {
  font-family: avenir-book, sans-serif;
}

.avenir-light {
  font-family: avenir-light, sans-serif;
}

.avenir-black {
  font-family: avenir-black, sans-serif;
}

.avenir-medium {
  font-family: avenir-medium, sans-serif;
}

.avenir-roman {
  font-family: avenir-roman, sans-serif;
}

.avenir-heavy {
  font-family: avenir-heavy, sans-serif;
}

.avenir-medium-oblique {
  font-family: avenir-medium-oblique, sans-serif;
}

.avenir-semibold {
  font-family: avenir-book, sans-serif;
}

html,
body {
  margin: 0;
}

/*

header section

*/

@media screen and (max-width: 800px) {
  .nav-container {
    margin: 1% 4% 4% 4%;
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 92%;
    height: 100%;
    background: #fff;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    padding-left: 0px;
  }

  .nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    border-right: unset;
    border-bottom: 1px solid #f5f5f5;
    color: #585656;
  }

  .nav-tab:last-child {
    padding: 15px 25px;
    color: #da4e51;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin: 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #111;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked + .menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked ~ .nav-container {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }
}

.nav-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 25px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 28px;
}

.nav-tabs {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  font-family: avenir-semibold, sans-serif;
}

.nav-tab:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
  color: #585656;
}

.nav-tab:last-child {
  padding: 10px 0 0 25px;
  color: #da4e51;
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

/*

  email section

*/

.email-section {
  margin-top: 50px;
}

.email-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1d2731;
  font-size: 44px;
  text-align: center;
  max-width: 973px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 15px;
  font-family: avenir-medium, sans-serif;
  font-weight: 500;
}

.email-address-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: avenir-semibold, sans-serif;
}

.input,
.submit {
  display: inline-block;
  border-radius: 0;
  -webkit-appearance: none;
  color: white;
}

.input {
  width: 350px;
  border: 1px solid #ebebeb;
  color: black;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  font-family: avenir-semibold, sans-serif;
}

.submit {
  position: absolute;
  background-color: #da4e51;
  margin-left: 92px;
  padding: 8px 15px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-family: avenir-heavy, sans-serif;
}

.submit::-moz-focus-inner {
  border: 0;
}

.email-help-text {
  color: #827f7f;
  text-align: center;
  font-size: 12px;
  font-family: avenir-semibold, sans-serif;
}

@media screen and (max-width: 1024px) {
  .email-heading {
    font-size: 35px;
  }
}

@media screen and (max-width: 720px) {
  .email-heading {
    font-size: 35px;
  }
}

@media screen and (max-width: 420px) {
  .email-heading {
    font-size: 28px;
  }

  .email-address-form {
    flex-direction: column;
    height: auto;
  }

  .input {
    width: 290px;
  }

  .submit {
    position: relative;
    width: 290px;
    margin-top: 10px;
    margin-left: 0px;
  }
}

/* 

Bill Gates section

*/

.bill-gates-container {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: center;
  justify-items: center;
  display: flex;
}

.oval-image {
  height: auto;
  width: 83.5%;
  margin-top: 90px;
}

.bill-image {
  width: 42%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 48%;
}

.rectangle-image {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0px;
  margin-top: 36%;
}

.blue-line-image {
  position: absolute;
  width: 11%;
  margin-top: 37%;
  margin-left: 30%;
}

.text-container {
  position: absolute;
  margin-top: 17%;
  margin-left: -11%;
}

.i-have-been-playing,
.name-text,
.sub-text {
  color: white;
}

.i-have-been-playing {
  width: 350px;
  margin-bottom: 20px;
  font-family: avenir-medium;
}

.name-text {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-family: avenir-heavy;
}

.sub-text {
  margin-top: 0px;
  font-size: 1.2rem;
  font-family: avenir-light;
}

@media screen and (max-width: 1200px) {
  .oval-image {
    width: 78.5%;
  }
  .bill-image {
    width: 42.5%;
    margin-left: 42%;
  }
  .rectangle-image {
    margin-top: 36.3%;
    width: 90%;
    margin-left: 5%;
  }
  .blue-line-image {
    width: 10%;
    margin-top: 37.7%;
    margin-left: 27%;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .rectangle-image {
    margin-top: 36.3%;
    width: 90%;
    margin-left: 4%;
  }
}

@media (max-width: 999px) and (min-width: 888px) {
  .rectangle-image {
    margin-top: 37%;
    width: 88%;
    margin-left: 4%;
  }
}

@media (max-width: 888px) and (min-width: 801px) {
  .rectangle-image {
    margin-top: 36%;
    width: 97%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 800px) {
  .oval-image {
    width: 76.5%;
    margin-top: 85px;
  }
  .bill-image {
    width: 42.5%;
    margin-left: 45%;
  }
  .rectangle-image {
    margin-top: 37%;
  }
}

@media screen and (max-width: 720px) {
  .oval-image {
    width: 86.5%;
    margin-top: 36px;
  }
  .bill-image {
    width: 44.5%;
    margin-left: 43%;
  }
  .rectangle-image {
    margin-top: 38%;
    width: 98%;
    margin-left: 1%;
  }
  .blue-line-image {
    width: 10%;
    margin-top: 38.7%;
    margin-left: 27%;
  }
}

@media screen and (max-width: 640px) {
  .oval-image {
    width: 85.5%;
    margin-top: 74px;
  }
  .bill-image {
    width: 51.5%;
    margin-left: 38%;
  }
  .rectangle-image {
    margin-top: 44%;
  }
}

@media screen and (max-width: 520px) {
  .oval-image {
    width: 84.5%;
    margin-top: 50px;
  }
  .bill-image {
    width: 50.7%;
    margin-left: 34.7%;
  }
  .rectangle-image {
    margin-top: 41%;
  }
}

@media screen and (max-width: 420px) {
  .oval-image {
    width: 84.5%;
    margin-top: 50px;
  }
  .bill-image {
    width: 51.5%;
    margin-left: 36%;
  }
  .rectangle-image {
    margin-top: 44.5%;
  }
}

@media screen and (max-width: 340px) {
  .oval-image {
    width: 84.5%;
    margin-top: 44px;
  }
  .bill-image {
    width: 50.5%;
    margin-left: 37%;
  }
  .rectangle-image {
    margin-top: 44%;
  }
}

/* 

  Join The List Section

*/

.testimonials-slider {
  display: flex;
  flex-direction: row;
}

/*

  Integrate section

*/

.integrate-section {
  background-image: url(../assets/SVG/integrate-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 185px;
}

.integrate-heading {
  text-align: center;
  font-size: 2.6rem;
  width: 550px;
  margin: auto;
  margin-bottom: 10px;
  color: #4f4c4c;
}

.short-blue-line {
  width: 10%;
  margin: 0 auto;
  border: none;
  border-top: 3px solid #5ecadf;
  margin-bottom: 50px;
}

.integrate-image-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.integrate-image {
  width: 100%;
  height: 300px;
}

.image-heading,
.image-sub-text {
  text-align: center;
}

.image-heading {
  width: 400px;
  font-size: 1.6rem;
}

.image-sub-text {
  width: 400px;
  font-size: 1.4rem;
  font-weight: 100;
  color: #4a4a4a;
}

.see-docs {
  color: #da4e51;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .integrate-heading {
    font-size: 2rem;
    width: 450px;
  }

  .integrate-image-section {
    display: flex;
    flex-direction: column;
  }

  .image-section {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .integrate-heading {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .integrate-heading {
    width: 310px;
  }

  .integrate-image {
    width: 270px;
  }

  .image-heading {
    width: 300px;
  }

  .image-sub-text {
    width: 300px;
  }
}

/* 

Footer Section

*/

.footer-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.join-create-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(50, 140, 193, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
  box-shadow: 4px 4px 25px 0 rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  max-width: 1440px;
}

.join-create-account-heading-container {
  width: 70%;
}

.join-create-account-heading-text {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.join-create-account-btn-container {
  width: 30%;
}

.join-create-account-btn {
  background-color: #da4e51;
  margin-left: 92px;
  padding: 8px 15px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  width: 130px;
}

@media screen and (max-width: 900px) {
  .join-create-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .join-create-account-heading-container {
    width: 100%;
  }

  .join-create-account-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

  .join-create-account-btn {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer-section {
    padding: 10px;
  }

  .join-create-account-heading-text {
    font-size: 1.7rem;
  }
}

/* 

Sitemap section

*/

.sitemap-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  max-width: 1440px;
  padding: 50px 100px 50px 100px;
}

.sitemap-address {
  width: 41.66666667%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sitemap-links {
  width: 58.33333333%;
}

.sitemap-address-text {
  font-size: 1rem;
  color: #4a4747;
}

.sitemap-links-list {
  display: flex;
  flex-direction: row;
}

.sitemap-links-listbox {
  display: block;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  margin: 0;
  padding: 24px 20px 32px;
}

.sitemap-links-listbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitemap-links-listbox-list > li {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #636363;
  display: block;
  padding: 8px 0;
  margin: 0;
}

.sitemap-bottom-line {
  margin-left: 100px;
  margin-right: 100px;
  color: #858484;
}

@media screen and (max-width: 800px) {
  .sitemap-section {
    flex-direction: column;
    justify-content: normal;
    justify-items: normal;
    align-items: normal;
    align-content: normal;
    padding: 0 0 0 17px;
  }

  .sitemap-links-list {
    display: flex;
    flex-direction: column;
  }

  .sitemap-links-list {
    padding: 0px;
  }

  .sitemap-links-listbox {
    padding: 0px;
  }

  .sitemap-bottom-line {
    width: 95%;
  }

  .sitemap-bottom-line {
    margin-left: 18px;
  }
}

/* 

 Copyright section

*/

.copyright {
  padding-left: 100px;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .copyright {
    padding-left: 18px;
  }
}
